@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


h2 {
  color: #3776ab;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  font-family: 'Poppins', sans-serif;
  height: 100vh; 
}

#top {
  text-align: center;
  display: block;
  background-color: black;
}

span {
  text-align: right;
  color: #3776ab;
  display: block;
  margin-right: 4rem;
}

.topic {
  margin-left: 4rem;
  display: inline-block;
  width: 20%;
  vertical-align: top;
  text-align: top;
}
