@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(50, 51, 49, 0.836);
    color: lightblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    color: rgb(0, 116, 170);
    margin-bottom: 30px;
}

.container a {
    color: azure;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: azure;
    padding: 15px;
    font-family: inherit;
    font-size: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn:focus, .btn:hover {
    outline: 0;
    background: lightblue;
    transition-duration: 0.5s;
}


.btn:active {
    transform: scale(0.98);
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
}


.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px azure solid;
    display: block;
    width: 100%;
    padding:15px 0;
    font-size: 18px;
    color: azure;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: rgb(0, 116, 170);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: rgb(0, 116, 170);
    transform: translateY(-30px);
}